{
    "printWidth": 80,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/components/(.*)$",
        "^@/screens/(.*)$",
        "^@/ui/(.*)$",
        "^@/hooks/(.*)$",
        "^@/shared/(.*)$",
        "^@/services/(.*)$",
        "^@/assets/(.*)$",
        "^@/utils/(.*)$",
        "^@/config/(.*)$",
        "^../(.*)$",
        "^./(.*)$",
        "(.scss)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}